<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/ITQ/Documents/SeleniumPageObject">
        <classes>
            <class name="tests.todoAppTest.createcourse.CreateCourse"/>
            <class name="tests.todoAppTest.login.LoginTest"/>
            <class name="tests.todoAppTest.register.RegisterTest"/>
        </classes>
    </test>
</suite>